<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Bean for the nested class -->
    <bean id="doAction" class="IoC.nested_class_method.SpringBeanService$NestedClass" />

    <!-- Bean for NestedClassDemo -->
    <bean id="demo" class="IoC.nested_class_method.NestedClassDemo">
        <!-- No explicit dependency on applicationContext is needed -->
    </bean>
    <!-- Bean for TruckFactory Class -->
    <bean id="truckFactory" class="IoC.instance_factory_method.TruckFactory"/>
    <bean id="truck" factory-bean="truckFactory" factory-method="createTruck">
        <constructor-arg value="Ford Ranger"/>
        <constructor-arg value="Blue"/>
    </bean>
    <!-- Bean for CarFactory Class -->
    <bean id="car" class="IoC.static_factory_method.CarFactory" factory-method="createCar">
        <constructor-arg value="Ford Ranger"/>
        <constructor-arg value="Blue"/>
    </bean>
    <!-- Bean for CarFactory Class -->
    <bean id="bike" class="IoC.constructor.method1.Bike">
        <constructor-arg value="Yamaha"/>
        <constructor-arg value="White"/>
    </bean>

    <!-- Component scan to detect @Component classes -->
    <context:component-scan base-package="IoC"/>
</beans>
