<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean for the nested class -->
    <bean id="doAction" class="IoC.nested_class.SpringBeanService$NestedClass" />

    <!-- Bean for NestedClassDemo -->
    <bean id="demo" class="IoC.nested_class.NestedClassDemo">
        <!-- No explicit dependency on applicationContext is needed -->
    </bean>
    <!-- Bean for TruckFactory Class -->
    <bean id="truckFactory" class="IoC.instance_factory_method.TruckFactory"/>
    <bean id="truck" factory-bean="truckFactory" factory-method="createTruck">
        <constructor-arg value="Ford Ranger"/>
        <constructor-arg value="Blue"/>
    </bean>
</beans>
